<template>
    <body>
        <header>
            <img class="logo" src="../assets/uleam.png" alt="Logo">
            <button id="abrir" class="abrir-menu"><i class="bi bi-list"></i></button>
            <nav class="nav" id="nav">
                <button class="cerrar-menu" id="cerrar"><i class="bi bi-x"></i></button>
                <ul class="nav-list">
                    <li><a><router-link to="/inicio">Inicio</router-link></a></li>
                    <li><a><router-link to="/busqueda">Busqueda</router-link></a></li>
                    <li><a><router-link to="/categorias">Servicios</router-link></a></li>
                    <li><a><router-link to="/categorias">Categorias</router-link></a></li>
                    <li><a><router-link to="/multas">Multas</router-link></a></li>
                    <li><a><router-link to="/ayuda">Sistema de Ayuda</router-link></a></li>
                    <li><a><router-link to="/inicio">Cuenta</router-link></a></li>

                </ul>
            </nav>
        </header>
    </body>

    <body>

        <div class="container-form">
            <div class="info-form">
                <h2>Contáctanos</h2>
                <p>Llena tus datos y déjanos saber tus dudas, comentarios y sugerencias

                    De inmediato recibirás nuestra respuesta a tu solicitud. .</p>
                <a href="#"><i class="fa fa-phone"></i> +593 994039464</a>
                <a href="#"><i class="fa fa-envelope"></i> incidencias.diit@uleam.edu.ec</a>
                <a href="#"><i class="fa fa-map-marked"></i> Manta, Ecuador</a>
            </div>
            <form action="#" autocomplete="off">
                <input type="text" name="nombre" placeholder="Tu Nombre" class="campo">
                <input type="emal" name="email" placeholder="Tu Email" class="campo">
                <textarea name="mensaje" placeholder="Tu Mensaje..."></textarea>
                <input type="submit" name="enviar" value="Enviar Mensaje" class="btn-enviar">
            </form>
        </div>

    </body>
</template>

  
  
<script>
const nav = document.querySelector("#nav");
const abrir = document.querySelector("#abrir");
const cerrar = document.querySelector("#cerrar");

abrir.addEventListener("click", () => {
    nav.classList.add("visible");
})

cerrar.addEventListener("click", () => {
    nav.classList.remove("visible");
})
</script>

<style>
body {
    background-image: url(../assets/Fondo3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container-form {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 90px;
    background: rgba(255, 255, 255, 0.658);
}

.container-form h2 {
    margin-bottom: 15px;
    font-size: 35px
}

.container-form p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;

}

.container-form a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;

}

.container-form a i {
    color: rgb(247, 105, 86);
    margin-right: 10px;
}

.container-form form .campo,
textarea {
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

.container-form form textarea {
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}

.container-form .btn-enviar {
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    width: 10rem;
    background: rgb(255, 98, 87);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}

.container-form .btn-enviar:hover {
    background: #ee6e32;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    background-color: #c34b4b;
}

.logo {
    max-width: 15rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 3rem;
}

.nav-list li a {
    text-decoration: none;
    color: #000000;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 550px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #000000;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #000000;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }
}</style>