<template>
    <body>
      <header>
        <h1>Mis datos</h1>
      </header>
      <main>
        <form @submit="actualizarDatos">
          <h2>Editar datos personales</h2>
          <label for="correo">Correo electrónico:</label>
          <input type="email" id="correo" name="correo" v-model="correo">
          <br>
          <label for="telefono">Teléfono:</label>
          <input type="tel" id="telefono" name="telefono" v-model="telefono">
          <br>
          <label for="domicilio">Domicilio:</label>
          <input type="text" id="domicilio" name="domicilio" v-model="domicilio">
          <br>
          <input type="submit" value="Guardar cambios">
        </form>
        <section>
          <h2>Datos personales</h2>
          <p><strong>C.I:</strong> <span id="mostrar-c.i">1319328461</span></p>
          <p><strong>Nombre:</strong> <span id="mostrar-nombre">Jheison </span></p>
          <p><strong>Apellido:</strong> <span id="mostrar-apellido">Mendoza</span></p>
          <p><strong>Correo electrónico:</strong> <span id="mostrar-correo">{{ correo }}</span></p>
          <p><strong>Teléfono:</strong> <span id="mostrar-telefono">{{ telefono }}</span></p>
          <p><strong>Domicilio:</strong> <span id="mostrar-domicilio">{{ domicilio }}</span></p>
          <p><strong>Estudiante de:</strong> Ingeniera en TI</p>
        </section>
      </main>
    </body>
  </template>
  
  <script>
  export default {
    name: "HelloWorld",
    props: {
      msg: String,
    },
    data() {
      return {
        correo: "jheisonmendoza@hotmail.com",
        telefono: "0984257945",
        domicilio: "Manta",
      };
    },
    methods: {
      actualizarDatos(event) {
        event.preventDefault(); // Previene el comportamiento por defecto de enviar el formulario
  
        // Muestra un mensaje de confirmación
        alert("¡Datos actualizados!");
  
        // Limpia los campos del formulario
        this.correo = "";
        this.telefono = "";
        this.domicilio = "";
      },
    },
  };
  </script>
  
  <style>
  
  body {
    color: #000000;
  }
  header {
    background-color: #2e86c1;
    color: white;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    background-color: #2e86c1;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 150px;
  }
  
  section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h2 {
    margin-top: 0;
    color: black;
  }
  </style>
  