<template>
    <body>
        <header>
            <img class="logo" src="../assets/uleam.png" alt="Logo">
            <button id="abrir" class="abrir-menu"><i class="bi bi-list"></i></button>
            <nav class="nav" id="nav">
                <button class="cerrar-menu" id="cerrar"><i class="bi bi-x"></i></button>
                <ul class="nav-list">
                    <li><a><router-link to="/inicio">Inicio</router-link></a></li>
                    <li><a><router-link to="/busqueda">Busqueda</router-link></a></li>
                    <li><a><router-link to="/categorias">Servicios</router-link></a></li>
                    <li><a><router-link to="/categorias">Categorias</router-link></a></li>
                    <li><a><router-link to="/multas">Multas</router-link></a></li>
                    <li><a><router-link to="/ayuda">Sistema de Ayuda</router-link></a></li>
                    <li><a><router-link to="/cuenta">Cuenta</router-link></a></li>
                </ul>
            </nav>
        </header>

        <section class="hero__container container">
            <h1 class="hero__title">¡BIENVENIDOS A LA BIBLIOTECA!</h1>
            <nav class="nav" id="nav"></nav>
            <center> <a><router-link to="/busqueda" class="boton1">Busqueda</router-link></a></center>
            <center> <a><router-link to="/categorias" class="boton2">Prestamos</router-link></a></center>
            <center> <a><router-link to="/multas" class="boton3">Multas</router-link></a></center>
            <center> <a><router-link to="/ayuda" class="boton4">Sistema de Ayuda</router-link></a></center>
            <center> <a><router-link to="/categorias" class="boton5">Categorias</router-link></a></center>
            
        </section>

        <footer class="footer">
            <div class="contenedor">
                <h2 class="titulo-footer">Contáctanos</h2>
                <h3 class="subtitulo-footer">Gracias por preferirnos</h3>
                <div class="footer-form">
                    <form action="">
                        <input type="text" name="" id="" placeholder="Nombre" required>
                        <input type="email" name="" id="" placeholder="Email" required>
                        <textarea name="" id="" cols="30" rows="10" placeholder="Ingrese su mensaje..."></textarea>
                        <input type="submit" value="Enviar">
                    </form>
                </div>
            </div>
            <center>
                <h3 class="footer__copyright">Derechos reservados 2022 &copy; Biblioteca ULEAM
                </h3>
            </center>
        </footer>
        <img src="../assets/fondo2.jpg" alt="">
    </body>
</template>

  
  
<script>
export default {
    name: "HelloWorld",
    props: {
        msg: String,
    },
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root {

    --padding-container: 100px 0;
    --color-title: rgb(170, 1, 1);
}

body {
    font-family: 'Times New Roman', Times, serif;
}


.container {
    width: 90%;
    max-width: 8px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}


.hero {
    width: 100%;
    height: 5px;
    min-height: 5px;
    max-height: 10px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-size: cover;
    z-index: -1;
}

.nav {
    --padding-container: 0%;
    height: 00%;
    display: flex;
    align-items: left;
}

.nav__title {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-align: left;
    font-weight: 10;
    text-shadow: 5px 1px 2px rgb(12, 13, 12),
        1px 1px 1px rgb(24, 24, 24),
        -2px 1px 2px rgb(10, 11, 10),
        2px -1px 2px rgb(11, 12, 11);
}


.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
    font-size: 20px;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #fff;
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
}

.nav__img {
    display: block;
    width: 30px;
}

.nav__close {
    display: var(--show, none);
}

.hero__container {
    max-width: 900px;
    --padding-container: 0rem;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 2em;
    padding-bottom: 50px;
    text-align: left;
}


.hero__title {
    font-size: 3rem;
}

.hero__paragraph {
    margin-bottom: 9px;
    margin-top: 10px;
}


.boton1 {
    display: inline-block;
    background-color: #e98431;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 15px 105px;
    border-radius: 32px;
}

.boton1:hover {
    background: #f03628c4;
}

.boton2 {
    display: inline-block;
    background-color: #e98431;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 15px 105px;
    border-radius: 32px;
}

.boton2:hover {
    background: #f03628c4;
}

.boton3 {
    display: inline-block;
    background-color: #e98431;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 15px 105px;
    border-radius: 32px;
}

.boton3:hover {
    background: #f03628c4;
}

.boton4 {
    display: inline-block;
    background-color: #e98431;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 15px 105px;
    border-radius: 32px;
}

.boton4:hover {
    background: #f03628c4;
}

.boton5 {
    display: inline-block;
    background-color: #e98431;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 15px 105px;
    border-radius: 32px;
}

.boton5:hover {
    background: #f03628c4;
}

.about {
    text-align: center;
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
    margin: auto;
}

.uleam {
    width: 0px;
    height: 0px;
    margin-left: 0px;
}


.footer__copyright {
    font-weight: 400;
}


@media (max-width:800px) {
    .nav__menu {
        display: block;
    }

    .nav__link--menu {
        position: fixed;
        background-color: #000000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav__close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .contenedor {
        width: 90%;
        max-width: 1000px;
        margin: auto;
        overflow: hidden;
        padding: 52px 0;
    }

}

* {
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.936);
    font-style: italic;
}

header .textos {
    margin-top: 152px;
}

header .titulo {
    font-size: 8px;

}

header .boton {
    display: inline-block;
    padding: 6px;
    width: 128px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
}

.contenedor {
    width: 200%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0;
}

.acerca-de .boton1 {
    display: inline-block;
    padding: 6px;
    width: 128px;
    font-weight: 300;
    border: 1px solid rgba(0, 0, 0, 0.7);
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    margin-top: 24px;
}


.titulo-footer,
.subtitulo-footer {
    text-align: center;
    font-weight: 600;
    font-size: 50px;
}

.subtitulo-footer {
    font-size: 16px;
    margin-bottom: 64px;
}

form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}

input[type="text"],
input[type="email"] {
    display: inline-block;
    width: 48%;
    padding: 13px;
    border: none;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    border-color: #000000;
    margin-bottom: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-top: 5px solid rgb(255, 255, 255);
}

textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
    min-height: 200px;
    border-color: #000000;
    padding: 13px;
    border: none;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 16px;
}

input[type="submit"] {
    display: inline-block;
    padding: 13px;
    border: none;
    color: #fff;
    background: rgb(0, 0, 0);
    width: 96px;
}



header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #c34b4b;
}

.logo {
    max-width: 15rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 3rem;
}

.nav-list li a {
    text-decoration: none;
    color: #000000;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 550px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #000000;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #000000;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }
}

img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
</style>