<template>
    <body>
        <a><router-link to="/"></router-link></a>

    </body>
</template>



<script>
export default {
    name: "HelloWorld",
    props: {
        msg: String,
    },
}
</script>
<style>
body {
background-image: url(../assets/construccion1.jpg);
background-size: cover;
background-repeat: no-repeat;
}
a{
    
    display: block;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-color: #ffb84d;
    border-radius: 10px;
    padding: 15px 30px;
    margin: 150px 130px;
    color: #ffffff;
    text-decoration: none;
    position:fixed;
    left: 153px;
    top: 251px;
}

</style>