<template>
    <div>
      <h2 class="form__titulo">Crea tu cuenta para la Bliblioteca</h2>
      <form action="" class="form-register" id="formulario-registro" @submit="validarRegistro">
        <div class="contenedor-input">
          <input type="text" id="cedula" name="cedula" placeholder="Cédula" class="input-100" v-model="cedula">
          <input type="text" id="nombres" name="nombres" placeholder="Nombres" class="input-48" v-model="nombres">
          <input type="text" id="apellidos" name="apellidos" placeholder="Apellidos" class="input-48" v-model="apellidos">
          <input type="email" id="correo" name="correo" placeholder="Correo Institucional" class="input-100" v-model="correo" @blur="validarCorreo">
          <input type="password" id="password" name="contraseña" placeholder="Contraseña" class="input-48" v-model="password">
          <input type="password" id="confirm_password" name="repetircontraseña" placeholder="Repetir Contraseña" class="input-48" v-model="confirm_password">
          <span id='message'></span>
          <input type="text" id="telefono" name="teléfono" placeholder="Teléfono Celular" class="input-100" v-model="telefono">
          <input type="text" id="facultad" name="facultad" placeholder="Facultad" class="input-48" v-model="facultad">
          <input type="text" id="carrera" name="carrera" placeholder="Carrera" class="input-48" v-model="carrera">
        </div>
        <center>
          <router-link to="/sesion" class="btn-enviar">Ingresar</router-link>
        </center>
        <br>
        <p class="form__link">
          ¿Ya tienes cuenta? <router-link to="/sesion" class="link">Inicio</router-link>
        </p>
      </form>
      <img src="../assets/Fondo.jpg" alt="" />

    </div>
  </template>
  
  <script>
  export default {
    name: "RegistroFormulario",
    data() {
      return {
        cedula: "",
        nombres: "",
        apellidos: "",
        correo: "",
        password: "",
        confirm_password: "",
        telefono: "",
        facultad: "",
        carrera: ""
      };
    },
    methods: {
      validarRegistro(e) {
        e.preventDefault();
  
        const expresiones_cedula = /^[0-9]{10}$/;
        const expresiones_apellido = /^[a-zA-Z]{4,20}$/;
        const expresiones_correo = /^\w+@\w+\.[a-zA-Z]{2,3}$/;
        const expresiones_contraseña = /^.{4,12}$/;
        const expresiones_nombre = /^[a-zA-Z]{4,20}$/;
        const expresiones_telefono = /^[0-9]{10}$/;
  
        if (
          this.cedula === "" ||
          this.telefono === "" ||
          this.nombres === "" ||
          this.apellidos === "" ||
          this.correo === "" ||
          this.password === "" ||
          this.confirm_password === "" ||
          this.facultad === "" ||
          this.carrera === ""
        ) {
          alert("Todos los campos son obligatorios");
          return;
        } else if (!expresiones_nombre.test(this.nombres)) {
          alert("El nombre debe contener entre 4 y 20 caracteres");
          return;
        } else if (!expresiones_cedula.test(this.cedula)) {
          alert("El campo cédula solo acepta números y debe tener 10 dígitos");
          return;
        } else if (!expresiones_telefono.test(this.telefono)) {
          alert("El campo teléfono solo acepta números y debe tener 10 dígitos");
          return;
        } else if (!expresiones_apellido.test(this.apellidos)) {
          alert("El apellido debe contener entre 4 y 20 caracteres");
          return;
        } else if (!expresiones_correo.test(this.correo)) {
          alert("El correo no es válido");
          return;
        } else if (!expresiones_contraseña.test(this.password)) {
          alert("La contraseña debe contener entre 4 y 12 caracteres");
          return;
        } else if (this.password !== this.confirm_password) {
          alert("Las contraseñas no coinciden");
          return;
        }
  
        // Aquí puedes realizar el envío de datos o cualquier otra acción necesaria
  
        alert("Te has registrado exitosamente");
        // Limpiar los campos después del registro
        this.cedula = "";
        this.telefono = "";
        this.nombres = "";
        this.apellidos = "";
        this.correo = "";
        this.password = "";
        this.confirm_password = "";
        this.facultad = "";
        this.carrera = "";
      },
      validarCorreo() {
        // Código de validación de correo electrónico
      }
    }
  };
  </script>
  
  <style scoped>
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background-size: cover;
  }
  
  .form-register {
    width: 95%;
    max-width: 600px;
    margin: auto;
    background: transparent;
    border-radius: 9px;
  }
  
  .form__titulo {
    background: #ee802bc5;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 38px;
    border-radius: 7px;
    border-bottom: 5px solid rgb(255, 19, 66);
  }
  
  .contenedor-input {
    padding: 10px 30px;
    display:block;
    justify-content: space-between;
  }
  
  input {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border-color: transparent;
  }
  
  input:focus {
    border-color: rgb(29, 85, 100);
  }
  
  .input-48 {
    width: 48%;
  }
  
  .input-100 {
    width: 100%;
  }
  
  .btn-enviar {
    background: red;
    color: white;
    margin: auto;
    padding: 10px 100px;
    font-size: 28px;
    cursor: pointer;
  }
  
  .btn-enviar:hover {
    background: rgba(255, 0, 0, 0.575);
  }
  
  .form__link {
    background: #e47216c5;
    padding: 5px;
    color: rgb(0, 0, 0);
    width: 100%;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 7px;
  }
  
  .link {
    text-decoration: underline;
    color: rgba(250, 250, 250, 0.901);
    font-weight: 600;
  }
  
  .link:hover {
    color: red;
  }
  
  img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
  </style>  