<template>
    <body>
    <form>
        <center>
            <h2>Inicio de Sesión de la Bliblioteca ULEAM</h2>
        </center>
        <div class="contenedor">
            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input type="text" id="correo" name="correo" placeholder="Ingrese su correo electrónico"></div>
            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" id="password" name="password" placeholder="Contraseña"></div>
                <a><router-link to="/inicio" class="cta1">Iniciar sesión</router-link></a>
                

            
            <p>¿Aún no tienes Cuenta?<a class="link" href="Registro.html">Registrate</a></p>
            <p>¿Olvidaste tu contraseña?<a class="linkrecuperar" href="Recuperacion de Cuenta.html">Recuperar</a></p>
        </div>
    </form>
            <img src="../assets/Fondo.jpg" alt="" />

</body>
</template>
  
<script> 
export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
}
</script>

<style>
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}

.formulario{
    background-color: #ee802bc5;
    margin-left: 520px;
    margin-top: 120px;
    padding: 3px;
    width: 200rem;
    max-width: 20px;
    border: 5px solid rgba(255, 255, 255, 0.475);
    border-radius: 7px;
}

input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid rgba(0, 255, 21, 0.342);
    border-radius: 5px;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}

p{
    text-align: center;
}

.cta1{
    display: inline-block;
    background-color: #e72424;
    margin-left: 38rem;
    color: #fff;
    text-decoration: none;
    padding: 13px 200px;
    border-radius: 32px;
}

.cta1:hover{
    background: rgba(255, 0, 0, 0.575);
}

.link{
    text-decoration: underline;
      color: rgba(255, 255, 255, 0.942);
    font-weight: 600;
}
.link:hover{
     color: red;
}
@media(min-width:1980px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}

.linkrecuperar{
    text-decoration: underline;
      color: rgba(255, 255, 255, 0.927);
    font-weight: 600;
}
.linkrecuperar:hover{
    color: red;
}
img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
</style>