<template>
  <body>
    <img src="../assets/Fondo.jpg" alt="">
</body>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

body {
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
}

/* Estilos del Titulo */
.h1 {
  font-size: 100%;
  position: fixed;
  color: rgb(14, 162, 195);
  right: 10px;
}

img {
  background-image: url('../assets/Fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

</style>
