<template>
    <div class=bar-nav>
        <header class="hero">
            <nav class="nav container">
                
                <div>
                    
                    <div class="navbar">
                      <h1>{{ titulo }}</h1>
                      
                        
                      <nav class="nav" id="nav">
                <ul class="nav-list">
                    <a><router-link to="/inicio">Inicio</router-link></a>
                    <a><router-link to="/sesion">Iniciar Sesion</router-link></a>
                    <a><router-link to="/registro">Registarse</router-link></a>
                   
                </ul>
            </nav>
                    </div>
                </div>
            </nav>

        </header>
        <router-view />
    </div>
</template>
  
<script>
export default {
  data() {
    return {
      titulo: "Software de gestion de Biblioteca",
    };
  },
};
</script>
  
<style>
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: left;
  margin: 20px 0;
}

/* Estilos para la barra de navegación */
.navbar {
  background-color: #f2f2f2;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  

}
.nav-list {
    list-style-type: none;
    display: flex;
    gap: 3rem;
}

.nav-list li a {
    text-decoration: none;
    color: #000000;
}
.nav__links {
margin-top: 4rem ;
}

.navbar a {
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #19b3d9;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;

}

.navbar a:hover {
  background-color: #1a17ce;
}

</style>
  